

body{
	padding: 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
	display: block;
}

body.parsed{
	display: block;
}

main{
	padding: 20px;
}

h1{
	font-size: 120%;
}

.boardWrapper{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.board {
	perspective: 1000px;
	border-collapse: collapse;
}



.board td{
	background-color: green;
	height: 50px;
	width: 50px;
	border: solid thin white;
	text-align: center;
	color: transparent;
	cursor: pointer;
}

[data-show-hints="true"] .board td{
	color: white;
}

.board td[data-possible-flips=""]{
	cursor: default;
}

[data-value="empty"] .piece {
	display: none;
}
	
[data-value="black"] .piece {
	transform: rotateY(180deg);
}

.piece, .white, .black, .black:after {
	width: 40px;
	height: 40px;
	border-radius: 30px;
}

.piece{
	box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, .5);
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	left: 5px;
}

.white, .black {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.white{
	background: radial-gradient(circle at center, #ffffff 0, #ffffff 60%, #000000 78% )
}

.black{
	background-color: #000000;
}

.black:after {
    margin-left: 5%;
    margin-top: 18%;
    width: 60%;
    height: 60%;
    content: "";
    display: inline-block;
    background: black;
	box-shadow: -2px -2px 2px 0 white;
	
}

.white {
	z-index: 2;
	transform: rotateY(0deg);
}

.black {
	transform: rotateY(180deg);
}

span.currentTurn {
    text-transform: capitalize;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
	border-color: currentColor;
}

ul{
	display: inline-block;
}

.checkboxLabel:after{
	height: 16px;
	width: 16px;
	display: inline-block;
	border: solid thin #666666;
	content: "\2714";
	color: transparent;
	position: relative;
	line-height: 16px;
}
:checked + label:after{
	color: inherit;
}

input[type=checkbox]{
	display: none;
}

button{
	margin-top: 5px;
	margin-bottom: 5px;
}